.create-recipe{
    position:relative;
    display:flex;
    top:20vh;
    flex-direction: column;
 align-items:center;
    font-family: sans-serif;
    width:100%;
    gap:20px;
    
}
.create-recipe form{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.create-recipe > form > input, textarea{
        height:30px;
        background-color: 	#F0F0F0;
        border:none;
        width:500px;

}
.create-recipe form label{
font-weight: bold;
}
.create-recipe form img{
width:250px;
}
.create-recipe form button{
    width:150px;
    padding:5px;
}
textarea{
    height:100px;
}
